ul
{
    list-style-type: none;
   
}
li
{
    display: inline;
    color: white;
    
}
.navbar
{
margin: 3% 4%;
}
.navbar-left{
    float: left;
    margin-right: 30%;
}
.content{
    margin: 4% 5% 0 5%;
}
.doelgroep, .genre{
    padding: 1%;
    margin: 0 0 0 6%;
    font-size: 16px;
}

button{
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 12px 22px;
    margin: 1% 0,5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    
}

.filterDiv{
    background-color: grey;
    margin: 1%;
    color: white;
    float: left;
    width: 25%;
    height: 450px;
    padding: 2%;
    
}

.videos{
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}